/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
/* Custom Times New Roman */
@font-face {
  font-family: "TimesNewRomanCustom";
  src: url("../fonts/Times.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* root variables */
:root {
  /* primary colors */
  --primary: #5a00ec;
  --primary-100: #baa6ff;
  --primary-200: #9a73ff;
  --primary-300: #7c3bff;
  --primary-400: #7c3bff;
  --primary-500: var(--primary);
  --primary-600: #5201d6;
  --primary-700: #4503af;
  --primary-900: #280077;
  --primary-950: #19183a;

  /* gray colors */
  --gray-100: #f3f0ff;
  --gray-200: #eae4ff;
  --gray-300: #d7cdff;

  /* white and black */
  --white: #ffffff;
  --black: #212121;

  /* typography */
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Inter", sans-serif;
  --font-tertiary: "TimesNewRomanCustom", sans-serif;

  --fs-4xl: 64px;
  --fs-3xl: 60px;
  --fx-2xl: 40px;
  --fs-xl: 36px;
  --fs-lg: 32px;
  --fs-md: 24px;
  --fs-sm: 20px;
  --fs-xs: 16px;
  --fs-2xs: 14px;
  --fx-3xs: 12px;

  --fw-bold: 700;
  --fw-semibold: 600;
  --fw-medium: 500;
  --fw-regular: 400;
  --fw-light: 300;

  /* shadows */
  --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Global styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
}

body {
  background-color: var(--white);
  color: var(--black);
  overflow-x: hidden;
}

/* ======
   Header
========= */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--white);
  box-shadow: var(--shadow);
}

/* Nav */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

/* Logo */
.nav__logo img {
  width: 10rem;
  height: auto;
}

/* Nav Items */
.nav__items {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.nav__item a {
  text-decoration: none;
  color: var(--black);
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav__item a:hover {
  color: var(--primary);
}

/* Hamburger Button */
.nav__menu {
  display: none; /* show on small screens */
  width: 30px;
  height: 24px;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}

/* Hamburger bars */
.nav__bar {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--black);
  border-radius: 2px;
  transition:
    transform 0.3s ease,
    top 0.3s ease;
}

/* Hamburger bars Hover */
.nav__menu:hover .nav__bar {
  background: var(--primary);
}

/* Stack bars */
.nav__bar:first-child {
  top: 6px; /* 1/4 height */
}

.nav__bar:last-child {
  top: 15px; /* 3/4 height */
}

/* Active state: rotate to perfect X */
.nav__menu.active .nav__bar:first-child {
  transform: rotate(45deg);
  top: 50%;
  translate: 0 -50%;
}

.nav__menu.active .nav__bar:last-child {
  transform: rotate(-45deg);
  top: 50%;
  translate: 0 -50%;
}

/* Media Queries */
@media (max-width: 768px) {
  .nav__items {
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--white);
    display: none;
  }

  .nav__items[data-opened="true"] {
    display: flex;
  }

  .nav__menu {
    display: block;
  }
}

@media (max-width: 480px) {
  .nav__logo img {
    width: 5rem;
  }
}

/* ======
   Main
========= */
.main {
  margin-top: 3rem;
}

/* ======
   Hero
========= */
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  width: 100%;
  color: var(--white);
  text-align: center;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero__subtitle {
  font-style: var(--fs-sm);
  font-weight: var(--fw-light);
  line-height: 100%;
  letter-spacing: -1.5%;
  text-transform: uppercase;
  margin-top: 5rem;
}
.hero__title {
  font-size: var(--fs-4xl);
  font-weight: var(--fw-bold);
  margin-bottom: 1rem;
  line-height: 100%;
  letter-spacing: -1.5%;
  text-transform: uppercase;
}
.hero__button {
  height: 45px;
  width: 45px;
  border: none;
  border-radius: 50px;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: scale 0.3s ease;
}
.hero__button svg {
  width: 25px;
  height: 25px;
  fill: var(--white);
}
.hero__button:hover {
  scale: 1.1;
}

.hero__text {
  font-size: var(--fs-3xl);
  font-weight: var(--fw-light);
  margin-top: 10rem;
  margin-bottom: 1rem;
  line-height: 84px;
  letter-spacing: -1.5%;
  text-align: start;
  align-self: flex-start;
}
.hero__text span {
  font-family: var(--font-tertiary);
  font-weight: var(--fw-regular);
  font-style: italic;
}

/* ======
   Industry
========= */
.industry {
  width: 100%;
  padding: 4rem 3rem 10rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 4rem;
}
.industry__title-container {
  width: 10%;
  text-align: start;
}
.industry__title {
  font-family: var(--font-secondary);
  font-weight: var(--fw-regular);
  font-size: var(--fs-sm);
  line-height: 150%;
  letter-spacing: -1.5%;
  text-transform: uppercase;
  color: var(--primary-950);
  margin-bottom: 1rem;
}
.industry__subtitle {
  font-weight: var(--fw-medium);
  font-size: var(--fs-2xs);
  line-height: 100%;
  letter-spacing: 0%;
}

.industry__services-container {
  width: 40%;
  text-align: start;
  display: flex;
  justify-content: flex-end;
  align-items: start;
  flex-wrap: wrap;
  gap: 1rem;
}
.industry__services-heading {
  width: 100%;
  color: var(--primary);
  font-weight: var(--fw-regular);
  font-size: var(--fs-sm);
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 1rem;
}
.industry__services-button {
  border-radius: 5px;
  border: 1px solid var(--primary-200);
  background-color: var(--gray-100);
  cursor: pointer;
  padding: 0.5rem 0.5rem;
  transition: all 0.1s ease;
}
.industry__services-button .label {
  display: inline-block;
  font-family: var(--font-secondary);
  font-weight: var(--fw-light);
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -1.5%;
  color: var(--primary-950);
}
.industry__services-button .icon-box {
  border-radius: 5px;
  width: 25px;
  height: 25px;
  background-color: var(--primary-200);
  box-shadow: inset 2px 2px 2px 1px #19183a14;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  transition: all 0.1s ease;
}
.industry__services-button .icon-box svg {
  width: 16px;
  height: 16px;
  fill: var(--white);
  vertical-align: middle;
  margin: 0 auto;
}
.industry__services-button:hover {
  background-color: var(--primary-200);
  box-shadow: 2px 2px 4px #19183a33;
}
.industry__services-button:hover .label {
  transform: skew(-10deg);
}
.industry__services-button:hover .icon-box {
  background-color: var(--primary);
  box-shadow: inset 2px 2px 2px 2px #7c3bff80;
}

.industry__overview {
  width: 40%;
}
.industry__overview-heading {
  font-weight: var(--fw-regular);
  font-size: var(--fs-sm);
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--primary);
  margin-bottom: 1rem;
}
.industry__overview-text {
  font-family: var(--font-secondary);
  font-weight: var(--fw-light);
  font-size: var(--fs-sm);
  line-height: 150%;
  letter-spacing: -1.5%;
  color: var(--primary-950);
  opacity: 0.9;
}
/* ======
   Footer
========= */
.footer {
  background-color: var(--primary);
  color: var(--white);
  text-align: center;
  padding: 1rem;
}
